<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="AffiliateBinding" allowCookies="true" maxBufferSize="64000000" maxReceivedMessageSize="64000000">
                    <security mode="Transport" />
                </binding>
                <binding name="AffiliateBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://ws.tradetracker.com/soap/affiliate"
                binding="basicHttpBinding" bindingConfiguration="AffiliateBinding"
                contract="Affiliate.AffiliateInterface" name="AffiliateBinding" />
        </client>
    </system.serviceModel>
</configuration>